.main {
  position: relative;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: #000000;
  z-index: 2;
}

.burger {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;

  &__item {
    display: flex;
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFFFFF;
  }

  &__link:hover {
    color: #FFFFFF;
    background: #EC7979;
  }
}

@media (max-width: 720px) {
  .nav__link {
    display: none;
  }

  .burger {
    display: block;
    margin: auto 35px;
  }
}
